name: Test
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: "43 7 * * 0"
concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-default-features:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        icu_version: [74, 76, 77]
    steps:
      - uses: actions/checkout@v2
      - name: 'Test ICU version ${{ matrix.icu_version }}'
        run: 'make DOCKER_TEST_ENV=rust_icu_testenv-${{ matrix.icu_version}} docker-test'
  test-with-features:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        icu_version: [74, 76, 77]
        feature_set:
          - "renaming,icu_version_in_env,icu_version_64_plus,icu_version_67_plus,icu_version_68_plus"
          - "renaming,icu_version_64_plus,icu_version_67_plus,icu_version_68_plus,icu_config,use-bindgen"
    steps:
      - uses: actions/checkout@v2
      - name: 'Test ICU version ${{ matrix.icu_version }}'
        run: 'make DOCKER_TEST_ENV=rust_icu_testenv-${{ matrix.icu_version }} RUST_ICU_MAJOR_VERSION_NUMBER=${{ matrix.icu_version }} DOCKER_TEST_CARGO_TEST_ARGS="--no-default-features --features ${{ matrix.feature_set }}" docker-test'
  test-bindgen:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: 'Test static-bindgen'
        run: 'make static-bindgen'
  test-static-linking:
    runs-on: ${{ matrix.runs-on }}
    strategy:
      matrix:
        # TODO: #301: re-enable.
        # runs-on: [ubuntu-latest, macos-latest]
        runs-on: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v2
      - if: matrix.runs-on == 'macos-latest'
        run: make macos-test
      - if: matrix.runs-on == 'ubuntu-latest'
        run: make test
  test-main-branch:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        icu_version: [77]
    steps:
      - uses: actions/checkout@v2
      - name: 'Test ICU `main`'
        run: |
          make DOCKER_TEST_ENV=rust_icu_testenv-current RUST_ICU_MAJOR_VERSION_NUMBER=${{matrix.icu_version}} docker-test-current

